<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container text-center">
        <div class="text-center mt-3">
            <h3>학생 테이블 조회 및 입력</h3>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h5>학생 테이블 조회</h5>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">번호</th>
                            <th scope="col">학생번호</th>
                            <th scope="col">학과명</th>
                            <th scope="col">학생명</th>
                            <th scope="col">아이디</th>
                            <th scope="col">생년월일</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">이메일</th>
                            <th scope="col">주소</th>
                            <th scope="col">등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${#lists.isEmpty(studentList)}">
                            <tr>
                                <td colspan="10">등록된 학생 정보가 존재하지 않습니다.</td>
                            </tr>
                        </th:block>
                        <th:block th:if="${not #lists.isEmpty(studentList)}">
                            <tr th:each="student : ${studentList}" th:object="${student}" class="text-start">
                                <th scope="row" th:text="*{no}"></th>
                                <td th:text="*{studentNumber}"></td>
                                <td th:text="*{subject.subjectName}"></td>
                                <td th:text="*{studentName}"></td>
                                <td th:text="*{studentId}"></td>
                                <td th:text="*{studentBirth}"></td>
                                <td th:text="*{studentPhone}"></td>
                                <td th:text="*{studentEmail}"></td>
                                <td th:text="*{studentAddress}"></td>
                                <td th:text="*{#temporals.format(regDate, 'yyyy-MM-dd')}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h5>학생 테이블 등록</h5>
                </div>
                <form id="insertForm" th:object="${student}">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>학생번호</td>
                                <td class="text-start">
                                    <input type="text" class="form-control" th:field="*{studentNumber}" placeholder="학과선택시 자동부여" readonly="readonly">
                                </td>
                            </tr>
                            <tr>
                                <td>학과명</td>
                                <td class="text-start">
                                    <select name="subject.subjectNumber" id="subjectNumber" class="form-select form-select-sm" aria-label="학과선택">
                                        <option value="">학과 선택해주세요.</option>
                                        <option th:each="subject : ${subjectList}" th:value="${subject.subjectNumber}" th:text="${subject.subjectName}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>학생이름</td>
                                <td class="text-start">
                                    <input type="text" class="form-control" th:field="*{studentName}" placeholder="학생명입력">
                                </td>
                            </tr>
                            <tr>
                                <td>학생아이디</td>
                                <td class="text-start">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" th:field="*{studentId}" placeholder="학생아이디 입력">
                                        </div>
                                        <button type="button" id="idCheck" class="btn btn-success btn-sm col-sm-1">중복검사</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>학생 비밀번호</td>
                                <td class="text-start">
                                    <input type="password" class="form-control" th:field="*{studentPasswd}" placeholder="비밀번호 입력">
                                </td>
                            </tr>
                            <tr>
                                <td>학생 생년월일</td>
                                <td class="text-start">
                                    <input type="date" class="form-control" th:field="*{studentBirth}">
                                </td>
                            </tr>
                            <tr>
                                <td>학생 전화번호</td>
                                <td class="text-start">
                                    <input type="text" class="form-control" th:field="*{studentPhone}" placeholder="학생전화번호 입력">
                                </td>
                            </tr>
                            <tr>
                                <td>학생주소</td>
                                <td class="text-start">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" th:field="*{studentAddress}" placeholder="학생주소 입력">
                                        </div>
                                        <button type="button" id="postCode" class="btn btn-success btn-sm col-sm-1">주소검색</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>학생이메일</td>
                                <td class="text-start">
                                    <input type="text" class="form-control" th:field="*{studentEmail}" placeholder="학생이메일 입력">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-end">
                        <button type="button" class="btn btn-success btn-sm" id="insertBtn">학생정보입력</button>
                        <button type="button" class="btn btn-success btn-sm" id="cancelBtn">다시입력</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>