<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h5>1. th:if, th:unless</h5>

        <p th:if="${number > 5}">5보다 크다</p>
        <p th:unless="${number > 5}">5보다 작거나 같다</p>
    </div>

    <div>
        <h5>2. 문자열 값 검사</h5>
        <p>
            ThymeLeaf는 문자열, 숫자, 날짜 등을 처리할 수 있는 다양한 유틸리티 객체를 제공한다.
            #strings는 ThymeLeaf에서 제공하는 문자열 유틸리티 객체이다.
            #strings.isEmpty(data)는 data가 null이거나 빈 문자열인지 검사할 때 사용한다.
        </p>

        <p th:if="${#strings.isEmpty(data)}">데이터가 존재하지 않습니다.</p>
        <p th:unless="${#strings.isEmpty(data)}" th:text="${data}"></p>
    </div>

    <div>
        <h5>3. th:switch, th:case</h5>
        <p>th:switch는 비교할 값을 지정하고, th:case는 해당 값과 일치하는 경우 출력한다.</p>

        <p th:switch="${userRole}">
            <span th:case="'user'">사용자</span>
            <span th:case="'admin'">관리자</span>
            <span th:case="*">권한 없음</span>
        </p>
    </div>
</body>
</html>