<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h5 class="mt-5">매개변수 처리 예제 체크</h5>
        <form id="exam03Form">
            <div class="mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="email" class="form-control" id="name" name="name" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">나이</label>
                <textarea class="form-control" id="age" name="age" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary" id="exam01Btn">exam03 예제 확인</button>
            <button type="button" class="btn btn-secondary" id="exam02Btn">exam04 예제 확인</button>
        </form>

        <h5 class="mt-5">매개변수 값을 배열 처리 예제 - name = hobby</h5>
        <form action="" id="exam04ArrayForm">
            <label class="checkbox-inline">
                <input type="checkbox" name="hobby" value="여행"> 여행
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="hobby" value="영화, 드라마 감상"> 영화, 드라마 감상
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="hobby" value="운동"> 운동
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="hobby" value="독서"> 독서
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="hobby" value="맛집 탐방"> 맛집 탐방
            </label>
            <button type="button" class="btn btn-primary" id="exam04ArrayBtn">exam04 예제 확인</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/js/form.js"></script>
</body>
</html>