<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/example/study" method="post">
        이름: <input type="text" name="title">
        <div>
            국어: <input type="checkbox" name="courses" value="korean">
            영어: <input type="checkbox" name="courses" value="english">
            수학: <input type="checkbox" name="courses" value="math">
        </div>
        <button type="submit">전송</button>
    </form>
</body>
</html>